#dice-holder {
  display: flex;
  flex-wrap: wrap;
}

.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    border: 0.2vw solid black;
    background-color: aquamarine;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 3vw;
    color: darkslategrey;
}



.sum-div {
    display: flex;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 3vw;
    margin: 2vw;
}